:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.multi-crousel{
  width:0px;
  background-color: '#f9d7da';
}

.m-vertical-scroll-bar-head{
  padding:4px;
  background-color: aquamarine;
  font-weight: bold;
  width:40vw;
  border-radius: 3px;
}

.m-vertical-scroll-bar-list{
  padding: 5px 2px;
  border: 2px solid rgb(220, 210, 210);
  list-style-type: none;
}

.m-vertical-scroll-bar-list :hover{
  background-color: cornsilk;
}

.main-div{
  background-image: linear-gradient(#fcf5f5,#eff4fd);
  width: 100%; 
  border-radius: 10px;
  box-shadow: blue;
}

.nav-ele{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 10px;
  
}
.nav-ele:hover{
  color: darkred;
  cursor: pointer;
  background-color: #4fd0df;
  border: 1px solid rgb(126, 205, 236);
  padding: 0 5px;
  border-radius: 10px;
}

body{
  margin: 0;
  padding: 0;
}


/* cards home2 ------------------------------------------------------------------------------------------------*/

.cards{
  width:100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  width: 50%;
  margin: 5px;
}
.card:hover{
  background-color: aliceblue;
}
.card-img{
  border: 2px solid  rgb(112, 177, 212);
  box-shadow: #4fd0df;
}
.card-title{
  padding: 3px 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.card-desc{
  margin-top: -8px;
  padding: 3px 0;
  font-size: 15px;
}