:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 background-color: #f5f8fa;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.multi-crousel{
  width:0px;
  background-color: '#f9d7da';
}

/* .m-vertical-scroll-bar-head{
  padding:4px;
  background-color: aquamarine;
  font-weight: bold;
  width:40vw;
  border-radius: 3px;
} */

.m-vertical-scroll-bar-list{
  padding: 5px 2px;
  border: 2px solid rgb(220, 210, 210);
  list-style-type: none;
}

.m-vertical-scroll-bar-list :hover{
  background-color: cornsilk;
}

.main-div{
  background-image: linear-gradient(#fcf5f5,#eff4fd);
  /* background-color: #2ed111; */
  /* width: 100vw;  */
  /* border-radius: 30px; */
  box-shadow: rgb(160, 160, 209);
  /* margin: 0 -10vw; */
  padding: 5px 0;
  margin: 5px 0;
}

.nav-ele{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 10px;
  
}
.nav-ele:hover{
  color: darkred;
  cursor: pointer;
  background-color: #cfcfe8;
  border: 1px solid rgb(178, 208, 220);
  padding: 0 5px;
  border-radius: 10px;
}

.text-decor{
  text-decoration: none;
  color: black;
}
.active{
  color: #37a2a2;
  /* text-decoration: dashed; */
  /* background-color: #535bf2; */

}
.notactive{
  text-decoration: none;
  color: rgb(211, 66, 66);
  background-color: #2ed111;
}
.text-decor:hover{
  color: black; 

}

/* row ------------------- */
.row {
  --bs-gutter-x: -1.5rem !important;
}
/* ----------------------- */

.nav-round{
  border-radius: 0 0 20% 20%;
}

/* zoom -------------------- */
.zoom {
  padding: 50px;
  /* background-color: green; */
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* -------------------------- */

/* card transition */

.card {
  /* padding: 2em; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  

.hero-image{
  background-image: url('https://images.unsplash.com/photo-1519911937006-b83ad483d860?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
}
.slider{
  width: 80vw;;
}
/* for mobile screens  */
@media (max-width:767px){
  .slider{
    width: 340px;
  }
   .nav-button{
    position: absolute;
    right: 25px;
    top: 5px;
    
   }
  
}